<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>BOTC Win Tracker</title>
  <link rel="shortcut icon" href="/assets/img/BOTCIcon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <section id="app">

  </section>

  <div id="error" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/statsBundle.js"></script>
</body>
</html>
